#cmake
CmakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake

#compiled source
*.o
*.out
*.a

#latex
*.aux
*.synctex.gz

#other files
*.swp
*.swo
*.log

build/images/*
build/linux/
build/osx/

#os file
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
